# Backend core
fastapi
uvicorn

# Banco de dados
sqlalchemy
psycopg[binary]
pymongo

# Manipulação e visualização
pandas
matplotlib
fpdf
streamlit
streamlit-echarts

# LLM + embeddings
langchain
langchain-groq
langchain-cohere
langchain-pinecone
sentence-transformers
transformers
cohere
pinecone
langchain-huggingface

# Auxiliares
beautifulsoup4
requests
python-dotenv
rapidfuzz
python-multipart
tabulate
